<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

  <title>range-datepicker-cell test</title>

  <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
  <script src="../../web-component-tester/browser.js"></script>

  <link rel="import" href="../range-datepicker-cell.html">
</head>

<body>

  <test-fixture id="rangeDatepickerCell">
    <template>
      <range-datepicker-cell></range-datepicker-cell>
    </template>
  </test-fixture>

  <test-fixture id="rangeDatepickerCellMinMax">
    <template>
      <range-datepicker-cell month="07" min="1501538400" max="1501711200"></range-datepicker-cell>
    </template>
  </test-fixture>

  <test-fixture id="rangeDatepickerCellDisabled">
    <template>
      <range-datepicker-cell month="07" disabled-days='["1504994400","1504908000","1502402400"]'></range-datepicker-cell>
    </template>
  </test-fixture>

  <test-fixture id="rangeDatepickerCellMinMaxDisabled">
    <template>
      <range-datepicker-cell month="07" min="1501538400" max="1501711200" disabled-days='["1501624800"]'></range-datepicker-cell>
    </template>
  </test-fixture>

  <script>
    suite('rangeDatepickerCell', () => {
      test('disabled and min max work together', () => {
        const element = fixture('rangeDatepickerCellMinMaxDisabled');
        assert.isFalse(element._disabled);
        element.day = { date: 1501797600 };
        assert.isTrue(element._disabled);
        element.day = { date: 1501279200 };
        assert.isTrue(element._disabled);
        element.day = { date: 1501538400 };
        assert.isFalse(element._disabled);
        element.day = { date: 1501711200 };
        assert.isFalse(element._disabled);
        element.day = { date: 1501624800 };
        assert.isTrue(element._disabled);
      });

      test('disabled works', () => {
        const element = fixture('rangeDatepickerCellDisabled');
        assert.isFalse(element._disabled);
        element.day = { date: 1501884000 };
        assert.isFalse(element._disabled);
        element.day = { date: 1504908000 };
        assert.isTrue(element._disabled);
        element.day = { date: 1499292000 };
        assert.isFalse(element._disabled);
      });

      test('min and max works', () => {
        const element = fixture('rangeDatepickerCellMinMax');
        assert.isFalse(element._disabled);
        element.day = { date: 1501884000 };
        assert.isTrue(element._disabled);
        element.day = { date: 1501624800 };
        assert.isFalse(element._disabled);
        element.day = { date: 1499292000 };
        assert.isTrue(element._disabled);
      });

      test('disabled', () => {
        const element = fixture('rangeDatepickerCellMinMax');
        assert.isFalse(element._disabled);
        element.day = { date: 1501884000 };
        assert.isTrue(element._disabled);
        element.day = { date: 1501624800 };
        assert.isFalse(element._disabled);
        element.day = { date: 1499292000 };
        assert.isTrue(element._disabled);
      });

      test('_selected and _hovered are correct', () => {
        const element = fixture('rangeDatepickerCell');
        assert.isFalse(element._selected);
        assert.isFalse(element._hovered);
        element._dateChanged(1, 0, 0, { date: 1 });
        assert.isTrue(element._selected);
        assert.isFalse(element._hovered);
        element._dateChanged();
        assert.isFalse(element._selected);
        assert.isFalse(element._hovered);
        element._dateChanged(0, undefined, 3, { date: 2 });
        assert.isFalse(element._selected);
        assert.isTrue(element._hovered);
        element._dateChanged();
        assert.isFalse(element._selected);
        assert.isFalse(element._hovered);
        element._dateChanged(0, 3, undefined, { date: 2 });
        assert.isFalse(element._selected);
        assert.isTrue(element._hovered);
        element._dateChanged();
        assert.isFalse(element._selected);
        assert.isFalse(element._hovered);
        element._dateChanged(0, 3, undefined, { date: 4 });
        assert.isFalse(element._selected);
        assert.isFalse(element._hovered);
        element._dateChanged();
        assert.isFalse(element._selected);
        assert.isFalse(element._hovered);
        element._dateChanged(0, undefined, 3, { date: 4 });
        assert.isFalse(element._selected);
        assert.isFalse(element._hovered);
      });
    });
  </script>

</body>

</html>