{
  "extends": "airbnb-base",
  "rules": {
    "max-len": [
      "warn",
      100,
      2,
      {
        "ignoreUrls": true,
        "ignoreComments": false,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "no-underscore-dangle": "off",
    "new-cap": "off",
    "import/no-extraneous-dependencies": "off",
    "class-methods-use-this": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "never",
        "exports": "never",
        "functions": "never"
      }
    ]
  },
  "plugins": ["html"],
  "env": {
    "mocha": true,
    "browser": true
  },
  "globals": {
    "Polymer": true,
    "sinon": true,
    "flush": true,
    "expect": true,
    "fixture": true,
    "moment": true,
    "assert": true,
    "RangeDatepickerBehavior"
  }
}
