<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-media-query/iron-media-query.html">

<link rel="import" href="range-datepicker-calendar.html">
<link rel="import" href="range-datepicker-behavior.html">
<link rel="import" href="moment-import.html">

<dom-module id="range-datepicker">
  <template>
    <style include="iron-flex iron-flex-alignment">
      :host {
        display: block;
      }

      #firstDatePicker {
        margin-right: 16px;
      }
    </style>

    <iron-media-query query="(max-width: 650px)" query-matches="{{narrow}}"></iron-media-query>

    <dom-if if="[[!forceNarrow]]">
      <template>
        <dom-if if="[[!narrow]]">
          <template>
            <div class="layout vertical center-justified">
              <div class="layout horizontal">
                <range-datepicker-calendar disabled-days="[[disabledDays]]" min="[[min]]" max="[[max]]" on-new-year-is-manually-selected="_handleNewYearSelected"
                  enable-year-change="[[enableYearChange]]" prev no-range="[[noRange]]" on-prev-month="_handlePrevMonth"
                  hovered-date="{{_hoveredDate}}" date-to="{{dateTo}}" date-from="{{dateFrom}}" id="firstDatePicker"
                  locale="[[locale]]" month="[[month]]" year="[[year]]">
                </range-datepicker-calendar>
                <range-datepicker-calendar disabled-days="[[disabledDays]]" min="[[min]]" max="[[max]]" on-new-year-is-manually-selected="_handleNewYearSelected"
                  enable-year-change="[[enableYearChange]]" next no-range="[[noRange]]" on-next-month="_handleNextMonth"
                  hovered-date="{{_hoveredDate}}" date-to="{{dateTo}}" date-from="{{dateFrom}}" locale="[[locale]]"
                  month="[[_monthPlus]]" year="[[_yearPlus]]">
                </range-datepicker-calendar>
              </div>
            </div>
          </template>
        </dom-if>
      </template>
    </dom-if>
    <dom-if if="[[_isNarrow(forceNarrow, narrow)]]">
      <template>
        <range-datepicker-calendar disabled-days="[[disabledDays]]" min="[[min]]" max="[[max]]" on-new-year-is-manually-selected="_handleNewYearSelected"
          enable-year-change="[[enableYearChange]]" no-range="[[noRange]]" narrow="[[_isNarrow(forceNarrow, narrow)]]"
          hovered-date="{{_hoveredDate}}" date-to="{{dateTo}}" date-from="{{dateFrom}}" locale="[[locale]]"
          prev next month="[[month]]" year="[[year]]">
        </range-datepicker-calendar>
      </template>
    </dom-if>
  </template>
  <script src="range-datepicker.js"></script>
</dom-module>