<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="../paper-styles/color.html">
<link rel="import" href="../paper-styles/typography.html">

<link rel="import" href="moment-import.html">

<dom-module id="range-datepicker-cell">
  <template>
    <style include="iron-flex iron-flex-alignment">
       :host {
        @apply --paper-font-common-base;
        display: block;
        width: 38px;
      }

      div {
        text-align: center;
        height: 38px;
        width: 38px;
        margin: 0;
        padding: 0;
        color: var(--range-datepicker-cell-text);
      }

      div:not(.disabled):hover {
        background: var(--range-datepicker-cell-hover, #e4e7e7);
        cursor: pointer;
      }

      div.hovered {
        background: var(--range-datepicker-cell-hovered, rgba(0, 150, 136, 0.5)) !important;
        color: var(--range-datepicker-cell-hovered-text, white);
      }

      div.selected {
        background: var(--range-datepicker-cell-selected, rgb(0, 150, 136)) !important;
        color: var(--range-datepicker-cell-selected-text, white);;
      }

      div.disabled {
        opacity: 0.4;
      }
    </style>

    <div on-click="_handleTap" on-mouseover="_handleHover" class$="layout horizontal center center-justified [[_isSelected(_selected)]] [[_isHovered(_hovered)]] [[_isEnabled(day, min, max, disabledDays)]]">
      <template is="dom-if" if="[[day]]">
        [[day.title]]
      </template>
    </div>

  </template>

  <script src="range-datepicker-cell.js"></script>
</dom-module>